<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to Simpliefie-Questions.com</p><br>
    <p>We are Here to help you in understanding given question to you</p>
      <form action="/Send-Question" method="post">
        <label for="question">
          <input type="text" id="question" name="question" placeholder="Enter you question Here">
        </label>
        <button type="submit">Submit</button>
      </form>
</body>
</html>