<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In page</title>
</head>
<body>
    <form action="/signin" method="post">
        <input type="text" name="UserMail" id="UserMail" placeholder="Enter Your Registered Mail ID ">
        <input type="password" name="PassWord" id="PassWord" placeholder="Enter your Password">
        <button type="submit" >Sign In</button>
    </form>
</body>
</html>